<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Spring Security Example </title>
  <link rel="stylesheet" type="text/css" href="/stylebesheniy.css">

</head>
<body>
<div align=center>
Login page
<form th:action="/login" method="post">
  <div align=right>
  <div><label> User Name : <input type="text" name="username"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  </div>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
  <div><button type="submit" value="Sign In">Sign In</button></div>
</form>
<a href="/registration">Add new user</a>
</div>
</body>
</html>