<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Spring Security Example </title>
  <link rel="stylesheet" type="text/css" href="/stylebesheniy.css">
  <style type="text/css">
    form {
        border: 3px solid #f1f1f1;
        width: 30%;
    }

    label {
        color: black;
        padding: 14px 20 px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        align: center;
    }

    input[type="text"], input[type="password"] {
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }


  </style>
</head>
<body>
<div align=center>
Login page
<form th:action="/login" method="post">
  <div align=right>
  <div><label> User Name : <input type="text" name="username"/> </label></div>
  <div><label> Password: <input type="password" name="password"/> </label></div>
  </div>
  <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
  <div><button type="submit" value="Sign In">Sign In</button></div>
</form>
<a href="/registration">Add new user</a>
</div>
</body>
</html>