<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/stylebesheniy.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Tickets to trains</a>
        <a href="/main">Main</a>
        <a href="/user">Users list</a>
    </div>
    {{#user}}
    <div>
        <form action="logout" method="post">
            <button type="submit" value="Sign Out">Sign out {{login}}</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
    <br>
    {{/user}}


    <div>
        <form method="post" id="add" action="changePass">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
            <input type="text" name="name" placeholder="enter text" />
            <button type="submit">&#xf00c;</button>
        </form>
    </div>
    <div>Roles list:</div>
    <form method="post"  id="registr" action="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="text" name="filter" placeholder="enter filter" />
        <button type="submit">&#xf0b0;</button>
    </form>
    {{#roles}}
        <div>
        <b>{{id}}</b>
        <i>{{name}}</i>
        </div>
    {{/roles}}
</body>
</html>