<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
  <title>Spring Security Example </title>
  <link href="/styles/stylebesheniy.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align=center>
Add new user
  <br>
{{#message}}
    {{message}}
{{/message}}
<form action="/registration" id="signin" method="post">
  <div align=right>
    <input type="text" id="user" name="login" placeholder="login" />
    <input type="password" id="pass" name="password" placeholder="password" />
    <input type="email" id="email" name="email" class="form-control" placeholder="e-mail" />
    <input type="text" id="telephone" name="telephone" placeholder="telephone" />
  </div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
  <div>
    <button type="submit" value="Sign In">&#xf0da;</button>
  </div>
</form>
</div>
</body>
</html>