<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/stylebesheniy.css">
    <title>Login</title>
</head>
<body>
<div>
    <div class="topnav">
        <a class="active" href="/">Tickets to trains</a>
        <a href="/main">Main</a>
        <a href="/user">Users list</a>
    </div>
    {{#user}}
    <div align="right">
        <form action="logout" method="post">
            <button type="submit" value="Sign Out">{{login}} &#xf08b;</button>
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        </form>
    </div>
    {{/user}}
</div>
<div>
    <div class="sidenav">
        <a href="/user">Users</a>
        <a href="/roles">Roles</a>
    </div>

    <div align=center>
        List of roles
        <table id='ticket_table' border = '1'>
            <thead>
            <tr>
                <th>Role</th>
                <th>Change</th>
            </tr>
            </thead>
            <tbody>
            {{#roles}}
            <tr>
                <td>{{name}}</td>
                <td><a href="/roles/{{id}}">edit</a></td>
            </tr>
            {{/roles}}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>