<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/stylebesheniy.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/my.style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Train tickets</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/main">Search tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">Our news</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/arrivals">Arrivals</a>
                </li>
                {{#operatorRole}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Operator console
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/distances">Distances</a></li>
                        <li><a class="dropdown-item" href="/passengers">Passengers</a></li>
                        <li><a class="dropdown-item" href="/schedule">Schedule</a></li>
                        <li><a class="dropdown-item" href="/serviceClasses">Service classes</a></li>
                        <li><a class="dropdown-item" href="/stations">Stations</a></li>
                        <li><a class="dropdown-item" href="/stops">Stops</a></li>
                        <li><a class="dropdown-item" href="/tickets">Tickets</a></li>
                        <li><a class="dropdown-item" href="/trains">Trains</a></li>
                        <li><a class="dropdown-item" href="/wagons">Wagons</a></li>
                    </ul>
                </li>
                {{/operatorRole}}
                {{#adminRole}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin console
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user">Users</a></li>
                        <li><a class="dropdown-item" href="/roles">Roles</a></li>
                    </ul>
                </li>
                {{/adminRole}}
            </ul>

            {{#user}}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{login}}&#160&#160&#160&#160&#160
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/privatePage/{{uuid}}">Private page</a></li>
                        <li><form action="/logout" method="post">
                            <button class="btn btn-outline-danger" type="submit">{{login}} &#xf08b;</button>
                            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                        </form></li>
                    </ul>
                </li>
            </ul>
            {{/user}}

        </div>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col">
            List of tickets
            <div class="mainDiv">
                <div class="field">
                    <label>Date:</label>
                    <input class="js-select2" type="date" id="dateTicket" name="dateTicket" min="{{dateNow}}" value="{{dateNow}}">
                </div>
                <br><br>
                <div class="field">
                    <label>Train:</label>
                    <select class="js-select2" id="trainTickets" name="trainTickets" placeholder="Choose train">

                        {{#trains}}
                        <option value="{{number}}">{{number}}</option>
                        {{/trains}}
                    </select>
                </div>
                <div class="field">
                    <label>Schedule:</label>
                    <select class="js-select2" id="scheduleTickets" name="scheduleTickets" placeholder="Choose schedule">

                        {{#schedules}}
                        <option value="{{name}}">{{name}}</option>
                        {{/schedules}}
                    </select>
                </div>
                <input type="button" onclick="getDataAndSetFullTable()" class='btn btn-outline-dark' value="Drop filters">
                <br>
            </div>
            <div id="divForTrainsTable" align=center>
                <table class="tableOnDiv" id='ticket_table' border = '1'>
                    <thead>
                    <tr>
                        <th>Passenger</th>
                        <th>Date of ticket</th>
                        <th>Train</th>
                        <th>Wagon</th>
                        <th>Seat</th>
                        <th>Price</th>
                        <th>Schedule</th>
                        <th>Change</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#tickets}}
                    <tr>
                        <td>{{passenger}}</td>
                        <td>{{dateTicket}}</td>
                        <td>{{train}}</td>
                        <td>{{wagon}}</td>
                        <td>{{seat}}</td>
                        <td>{{price}}</td>
                        <td>{{schedule}}</td>
                        <td><a href="/tickets/{{id}}" class="btn btn-outline-dark">edit</a></td>
                    </tr>
                    {{/tickets}}
                    </tbody>
                </table>
                <a href="/tickets/new" class="btn btn-outline-dark">Add new</a>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/filterTrainsTable.js"></script>
</body>
</html>