<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles/stylebesheniy.css">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Hello, admin</div>
<a href ="/main">Main page</a>
</body>
</html>