<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/styles/stylebesheniy.css">
    <title>Login</title>
</head>
<body>
<div class="topnav">
    <a class="active" href="/">Tickets to trains</a>
    <a href="/main">Main</a>
    <a href="/user">Users list</a>
</div>
{{#user}}
<div align="right">
    <form action="logout" method="post">
        <button type="submit" value="Sign Out">{{login}} &#xf08b;</button>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    </form>
</div>
{{/user}}
<div>
    <div class="sidenav">
        <a href="/user">Users</a>
        <a href="/roles">Roles</a>
    </div>

    <div align=center>
        User editor
        <form action="/user" method="post">
            <table id='ticket_table' border = '1'>
                <tbody>
                <tr>
                    <td>Login</td>
                    <td><input type="text" name="login" value="{{userThis.login}}"></td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td><input type="text" name="role" value="{{userThis.role.name}}"></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td><input type="text" name="email" value="{{userThis.email}}"></td>
                </tr>
                <tr>
                    <td>Telephone</td>
                    <td><input type="text" name="telephone" value="{{userThis.telephone}}"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password" value=""></td>
                </tr>
                <tr>
                    <td>Passenger</td>
                    <td><input type="text" name="passenger" value="{{userThis.passenger}}"></td>
                </tr>
                <tr>
                    <td>Activ</td>
                    <td><input type="text" name="activationCode" value="{{userThis.active}}"></td>
                </tr>
                </tbody>
            </table>

            <input type="hidden" value="{{userThis.id}}" name="userId">
            <input type="hidden" value="{{_csrf.token}}" name="_csrf">
            <button type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>