@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: rgb(54, 134, 156);
}
h1{
    color: rgb(255, 255, 255);
    margin: 20px auto 0;
    width: 200px;
    text-align: center;
}
#wrapper{
    position: absolute;
    width: 320px;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -75px;
}

/* === Sign in Form === */
#signin {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}
#signin::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}
#signin input:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#signin input:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#signin  input[type="tel"], #signin  input[type="email"], #signin  input[type="text"], #signin  input[type="password"], #signin button[type="submit"]{
    background: rgb(128, 130, 133);
    box-shadow: inset -100px -100px 0 rgb(128, 130, 133); /*Prevent yellow autofill color*/
    color: rgb(152, 156, 161);
}
#signin  select, #signin  input[type="tel"], #signin  input[type="email"], #signin  input[type="text"], #signin  input[type="password"]{
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}
#signin  select, #signin  input[type="tel"]:focus, #signin  input[type="email"]:focus, #signin  input[type="text"]:focus, #signin  input[type="password"]:focus{
    color: rgb(255, 255, 255);
}
#signin button[type="submit"]{
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}
#signin button[type="submit"]:hover{
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}
#signin p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}
#signin p > a{
    color: rgb(211, 119, 135);
    text-decoration: none;
}
#signin p > a:hover{
    border-bottom: 1px solid;
}
/* === Add in Form === */
#add {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}
#add::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}
#add input:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#add input:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#add  select, #add  input[type="tel"], #add  input[type="email"], #add  input[type="text"], #add  input[type="password"], #add button[type="submit"]{
    background: rgb(128, 130, 133);
    box-shadow: inset -100px -100px 0 rgb(128, 130, 133); /*Prevent yellow autofill color*/
    color: rgb(152, 156, 161);
}
#add  select, #add  input[type="tel"], #add  input[type="email"], #add  input[type="text"], #add  input[type="password"]{
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}
#add  select:focus, #add  input[type="tel"]:focus, #add  input[type="email"]:focus, #add  input[type="text"]:focus, #add  input[type="password"]:focus{
    color: rgb(255, 255, 255);
}
#add button[type="submit"]{
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}
#add button[type="submit"]:hover{
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}
#add p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}
#add p > a{
    color: rgb(211, 119, 135);
    text-decoration: none;
}
#add p > a:hover{
    border-bottom: 1px solid;
}
/* === Registr in Form === */
#registr {
    height: 90px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}
#registr::before {
    display: block;
    position: relative;
    height: 2px;
    background: rgb(52, 56, 61);
    content: '';
    top: 44px;
    margin-left: 20px;
    z-index: 1;
}
#registr input:first-of-type{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
#registr input:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
#registr input[type="tel"], #registr  input[type="email"], #registr  input[type="text"], #registr  input[type="password"], #registr button[type="submit"]{
    background: rgb(128, 130, 133);
    box-shadow: inset -100px -100px 0 rgb(128, 130, 133); /*Prevent yellow autofill color*/
    color: rgb(152, 156, 161);
}
#registr input[type="tel"], #registr  input[type="email"], #registr  input[type="text"], #registr  input[type="password"]{
    position: relative;
    display: block;
    width: 280px;
    height: 45px;
    border: 0;
    outline: 0;
    top: -2px;
    padding: 0 0 0 20px;
    font-weight: 700;
}
#registr input[type="tel"]:focus, #registr  input[type="email"]:focus, #registr  input[type="text"]:focus, #registr  input[type="password"]:focus{
    color: rgb(255, 255, 255);
}
#registr button[type="submit"]{
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    color: rgb(52, 56, 61);
    border-radius: 50px;
    outline: 0;
    z-index: 2;
    top: 19px;
    right: -24px;
    border: 6px solid rgb(52, 56, 61);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
}
#registr button[type="submit"]:hover{
    color: rgb(0, 126, 165);
    text-shadow: 0 0 10px rgb(0, 126, 165);
    cursor: pointer;
}
#registr p {
    color: rgb(79, 85, 97);
    padding: 0 20px;
    font-weight: 700;
    font-size: 12px;
    margin: 5px 0 0 0;
}
#registr p > a{
    color: rgb(211, 119, 135);
    text-decoration: none;
}
#registr p > a:hover{
    border-bottom: 1px solid;
}
input:invalid:not(:placeholder-shown) {border-color: red;}
input:valid:not(:placeholder-shown) {border-color: green;}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #22668b;
    color: white;
}

div.field {
    padding-bottom: 5px;
}
div.field label {
    display: block;
    float: left;
    width: 70px;
    height: 15px;
}

#route_table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}
table th { background-color: lightblue; }
.hover_Row { background-color: lightblue; }
.clicked_Row { background-color: lightgreen; }